################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prensipleri/v15
/packages
/Prensipleri/obj/Debug
